h1= title
script(src="/socket.io/socket.io.js")
script(src="/javascripts/client.js")
pre
  div#output
form#command_form(action="javascript:submitCommand();")
  input#command(type="text", autocomplete="off")
