body {
    // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#output {
    border: 1px solid black;
}

#command {
    width: 100%;
}

#command_form {
    margin-bottom: 10px;
}

