body {
    // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#output {
    border: 1px solid black;
    float: left;
    width: 50%;
}

#info {
    position: fixed;
    left: 50%;
    top: 1em;
}

#command {
    width: 100%;
}

#command_form {
    margin-bottom: 10px;
}

